@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,800;1,500;1,800&display=swap'); 

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--color-main);
    font-family: var(--font-family);
    scrollbar-width: thin;
    scrollbar-color: var(--color-main-translucent) #ffffff00;
    transition: var(--transition);
    transition-property: transform, color, background-color, filter;
    user-select: none;
    scroll-behavior: smooth;
}
*:focus-visible {
    outline: solid 1px var(--color-white);
}
*::-webkit-scrollbar {
    width: 3px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 999em;
    background: var(--color-main-translucent);
}

html {
    overflow: hidden;
    position: fixed;
}

body {
    overflow: auto;
    height: 100vh;
    width: 100vw;
    display: flow-root;
    background-color: var(--color-black);
}

::selection {
    color: var(--color-white);
    background-color: var(--color-main);
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-main: #C3AEFF;
    --color-main-translucent: #C3AEFF99;
    --color-subtle: #39314F;
    --color-dark: #1D1928;
    --color-background: #252031;
    --color-background-translucent: #252031aa;
    --color-background-transparent: #25203100;
    --page-background: radial-gradient(100% 33% at bottom, var(--color-subtle), var(--color-background));
    --font-family: 'Nunito', sans-serif;
    --transition: none .3s var(--anim-ease);
    --anim-ease: cubic-bezier(0, 0, 0.2, 1);
    --anim-ease-alt: cubic-bezier(0.7, 0, 1, 1);
    --accessibility-glow: drop-shadow(0 0 5px #fff);
    
    --viewport-height: 100vh;
}

@media (prefers-reduced-motion) {
    :root {
        --anim-ease: cubic-bezier(0, 0.7, 0, 1);
        --anim-ease-alt: cubic-bezier(1, 0, 1, 0.5);
    }
}